service: acudia-backend

package:
  excludeDevDependencies: true
  individually: true
  exclude:
    - node_modules/**
    - tmp/**
    - .git/**
    - dynamodb_local_data/**

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${env:STAGE}
  region: ${env:REGION}

plugins:
  - serverless-dotenv-plugin
  - serverless-iam-roles-per-function
  - serverless-dynamodb-local
  - serverless-appsync-plugin
  - serverless-appsync-offline
  - serverless-offline

custom:
  accountId: ${env:AWS_ACCOUNT_ID}
  region: ${env:REGION}

  dynamodb:
    stages:
      - local
    start:
      port: ${env:DB_PORT}
      dbPath: 'dynamodb_local_data'
      inMemory: false
      migrate: false

  appSync: # appsync plugin configuration
    name: acudia-appsync
    authenticationType: AMAZON_COGNITO_USER_POOLS
    userPoolConfig:
      awsRegion: ${env:REGION}
      defaultAction: ALLOW
      userPoolId: ${env:AWS_USER_POOL_ID}
    dataSources: ${file(resources/data-sources.yml)}
    mappingTemplates: ${file(resources/resolvers.yml)}
    schema: schema.graphql

  appsync-offline: # appsync-offline configuration
    port: ${env:PORT}
    dynamodb:
      client:
        endpoint: ${env:DB_HOST}
        region: localhost

layers:
  vendor:
    path: lambdas/layers/vendor
    description: Third party libraries.
    compatibleRuntimes:
      - '${self:provider.runtime}'
    allowedAccounts:
      - '*'

functions:
  - ${file(resources/lambda-functions.yml)}

resources:
  - ${file(resources/dynamodb-tables.yml)}
