service: acudia-backend

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${env:STAGE}

plugins:
  - serverless-dotenv-plugin
  - serverless-dynamodb-local
  - serverless-appsync-plugin
  - serverless-appsync-offline
  - serverless-offline

custom:
  dynamodb:
    stages:
      - local
      - dev
    start:
      port: ${env:PORT}
      inMemory: false
      migrate: false
  appSync: # appsync plugin configuration
    name: acudia-appsync
    authenticationType: API_KEY # use API_KEY in this tutorial
    dataSources: ${file(resources/data-sources.yml)}
    mappingTemplates: ${file(resources/resolvers.yml)}
    schema: schema.graphql
  appsync-offline: # appsync-offline configuration
    port: ${env:PORT}
    dynamodb:
      client:
        endpoint: ${env:DB_HOST}
        region: localhost

resources:
  - ${file(resources/dynamodb-tables.yml)}
