## FIXME: identity is only available when using aws dynamodb (not in local env)
#if ($ctx.identity.username)
  #set($ID = $ctx.identity.username)
#else
  #set($ID = "")
#end

{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "AcudierIndex",
  "query" : {
    "expression": "(#PK = :pk)",
    "expressionValues": {
      ":pk": {
        "S": "$ID"
      }
    },
    "expressionNames": {
      "#PK": "acudierId"
    }
  }
}